apiVersion: v1alpha1
kind: Setting
metadata:
  name: theme-xue-setting
spec:
  forms:
    - group: general
      label: 通用设置
      formSchema:
        - $formkit: radio
          name: show_logo
          label: LOGO展示
          value: false
          options:
            - value: true
              label: 是
            - value: false
              label: 否
        - $formkit: radio
          name: pjax_enabled
          label: 全局 Pjax
          value: false
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: text
          name: Icp
          label: ICP 备案号
          placeholder: "填入 ICP 备案号，没有则不填. "
        - $formkit: text
          name: PoliceSecurityRecordCode
          label: 网安备案号编码
          placeholder: 网安备案号编码，用于链接跳转
        - $formkit: text
          name: PublicSecurityRecord
          label: 网安备案号
          placeholder: 填入网安备案号文字
        - $formkit: radio
          name: enabled_card_random_cover_list
          label: 开启随机封面图片
          value: false
          options:
            - label: 开启
              value: true
            - label: 关闭
              value: false
        - $formkit: repeater
          name: card_random_cover_list
          label: 随机封面图片列表
          value: []
          children:
            - $formkit: attachment
              name: url
              label: 图片地址

    - group: home_setting
      label: 首页设置
      formSchema:
        - $formkit: attachment
          name: home_cover
          label: 首页背景
          value: https://cdn.jsdelivr.net/gh/xzzai/static@master/uPic/default-bg.jpg
        - $formkit: text
          name: home_title
          label: 首页展示博客名
          placeholder: 用于首页展示名字
          help: 注意：如填写，会覆盖原有博客名
        - $formkit: text
          name: home_description
          label: 网站slogan
          placeholder: 用于首页描述
        - $formkit: radio
          name: enabled_index_cover_height
          label: 首页全屏图片
          value: true
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: radio
          name: posts_style
          label: 首页文章列表展示风格
          value: true
          options:
            - value: true
              label: 卡片
            - value: false
              label: 列表
        - $formkit: radio
          name: post_card_meta_info
          label: 卡片是否展示元数据
          value: false
          options:
            - value: true
              label: 展示
            - value: false
              label: 隐藏
        - $formkit: radio
          name: post_card_tag
          label: 卡片是否展示标签
          value: false
          options:
            - value: true
              label: 展示
            - value: false
              label: 隐藏
        - $formkit: radio
          name: show_popular
          label: 列表风格下是否展示热门文章
          value: false
          options:
            - value: true
              label: 是
            - value: false
              label: 否
    - group: head_img
      label: 网页头部图片
      formSchema:
        - $formkit: attachment
          name: archives_patternimg
          label: 归档页面默认头部图
        - $formkit: attachment
          name: links_patternimg
          label: 友情链接页面默认头部图
        - $formkit: attachment
          name: tag_patternimg
          label: 标签页面默认头部图
        - $formkit: attachment
          name: categories_patternimg
          label: 分类页面默认头部图
        - $formkit: attachment
          name: moments_patternimg
          label: 瞬间页面默认头部图
        - $formkit: attachment
          name: photos_patternimg
          label: 相册页面默认头部图
        - $formkit: attachment
          name: search_patternimg
          label: 搜索结果默认头部图
        - $formkit: attachment
          name: links_placeholder
          label: 友情链接默认用户头像
    - group: post
      label: 文章页
      formSchema:
        - $formkit: radio
          name: post_toc
          label: 是否展示目录
          value: true
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: radio
          name: post_nepre
          label: 文章页是否显示上一篇和下一篇文章
          value: true
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: radio
          name: allow_share
          label: 开启分享
          value: true
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: attachment
          name: QR_code_zfb
          label: 支付宝二维码图片
          placeholder: 支付宝收款二维码链接，不填不显示
        - $formkit: attachment
          name: QR_code_wx
          label: 微信二维码图片
          placeholder: 微信收款二维码链接，不填不显示
    - group: title
      label: 自定义页面标题
      formSchema:
        - $formkit: text
          name: links_title
          label: 友链页面标题
          value: 友链
        - $formkit: text
          name: tags_title
          label: 标签页面标题
          value: 标签列表
        - $formkit: text
          name: categories_title
          label: 分类列表页面标题
          value: 分类列表
        - $formkit: text
          name: achieve_title
          label: 归档页面标题
          value: 归档
    - group: social
      label: 社交网络
      formSchema:
        - $formkit: text
          name: github
          label: Github
          placeholder: GitHub
          help: GitHub 主页链接
        - $formkit: text
          name: mail
          label: 邮箱
          placeholder: 邮箱
          help: 邮箱地址
        - $formkit: text
          name: zhihu
          label: 知乎
          placeholder: 知乎
          help: 知乎个人主页地址
        - $formkit: text
          name: weibo
          label: 微博
          placeholder: 微博
          help: 微博个人主页地址
        - $formkit: radio
          name: rss
          label: 订阅按钮
          value: true
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
    - group: other
      label: 其他
      formSchema:
        - $formkit: datetime-local
          name: TimeStatistics
          label: 站点运行时间统计
        - $formkit: radio
          name: visit_statistics
          label: 用户访问统计(需要引入不蒜子统计脚本,官网:https://busuanzi.ibruce.info)
          value: false
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: radio
          name: xiang_ying_xiong_zhi_jing
          label: 向英雄致敬, 愿精神长存
          value: false
          help: 惟愿此功能永远不会被使用
          options:
            - value: true
              label: 开启
            - value: false
              label: 关闭
        - $formkit: textarea
          name: other_script_file
          label: 作为插件引入的js脚本文件
          value: ""
        - $formkit: textarea
          name: common_js
          label: 作为插件需要执行的js脚本内容
          value: ""
          help: 同时只是加载和pjax执行该脚本
