.cover-title:after {
  background-color: var(--base-color);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 80px;
}

.home-cover .cover-title:after {
  left: 50%;
  margin-left: -40px;
}

.bg-cover {
  -webkit-animation: fade-down 0.3s;
  animation: fade-down 0.3s;
}

.fade-up {
  -webkit-animation: fade-up 0.3s;
  animation: fade-up 0.3s;
}
