.arrow-down:after,
.arrow-down:before {
  background-color: #fff;
}

.arrow-down {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.arrow-down:before {
  transform: translateX(-7px) rotate(45deg);
}

.arrow-down:after {
  transform: translateX(7px) rotate(-45deg);
}

.arrow-down:after,
.arrow-down:before{
  background-color: #adabac;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -11px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 22px;
}
