.is-container, .is-container * {
  box-sizing: border-box;
}

.is-container .ziyan-list {
  padding-top: 1.25em;
}

.is-container .ziyan {
  position: relative;
  padding: .625em 0;
  display: flex;
}

.is-container .ziyan-content {
  flex: 1 1;
  padding: 1em 1.5em;
  overflow: auto;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  border-radius: 10px;
  background: hsla(0, 0%, 100%, .6);
  box-shadow: 0 0.625em 3.75em 0 #eaeaea;
  -webkit-transition: all .25s ease .2s, -webkit-transform .5s cubic-bezier(.6, .2, .1, 1) .2s;
  transition: all .25s ease .2s, -webkit-transform .5s cubic-bezier(.6, .2, .1, 1) .2s;
  transition: all .25s ease .2s, transform .5s cubic-bezier(.6, .2, .1, 1) .2s;
  transition: all .25s ease .2s, transform .5s cubic-bezier(.6, .2, .1, 1) .2s, -webkit-transform .5s cubic-bezier(.6, .2, .1, 1) .2s;
}

.is-container .ziyan-content:hover {
  box-shadow: 0 1em 4em 0.5em #d7d7d7;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  cursor: pointer;
}

.is-container .ziyan-header {
  margin-bottom: .5em;
  font-size: 1em;
  position: relative;
}

.is-container .ziyan-username {
  font-weight: 600;
  font-size: 1.1em;
  color: var(--text-color);
  text-decoration: none;
}

.is-container .is-verified-badge {
  margin-left: .2em;
  display: inline-block;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.is-container .is-badge {
  height: 1em;
  width: 1em;
}

.is-container .ziyan-text {
  margin: auto .3em;
  font-weight: 600;
}

.is-container .ziyan-date, .is-container .ziyan-text {
  color: #a1a1a1;
  text-shadow: #d9d9d9 0 0 1px, #fffffb 0 0 1px, #fffffb 0 0 2px;
}

.is-container .ziyan-label {
  position: absolute;
  right: 0;
  line-height: 1;
  padding: 5px 6px;
  font-size: .9em;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, .12);
}

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.5;
  word-wrap: break-word;
}

.is-container .ziyan-body {
  color: #333;
}

.is-container .markdown-body {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.markdown-body:after, .markdown-body:before {
  content: "";
  display: table;
}

.is-container .ziyan-footer {
  position: relative;
  margin-top: 1em;
  font-size: 1.1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.is-container .ziyan-icon {
  margin-right: 2em;
  text-decoration: none;
  color: #666;
  border: none;
  outline: none;
  cursor: pointer;
}

.is-container .is-icon-comment-wrap, .is-container .is-icon-reaction-wrap {
  display: inline-block;
  border-radius: 50%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border: none;
  outline: none;
  padding: 2px;
}

.is-container .is-icon-reaction-wrap {
  position: relative;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.is-container .is-icon-reaction-wrap .iconfont {
  font-size: 1rem;
  color: var(--base-hl-color)
}


.is-container .ziyan-icon * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.is-container .is-comment-count, .is-container .is-reaction-count {
  font-weight: 600;
  display: inline-block;
}

.is-container .markdown-body {
  h1, h2, h3, h4, h5, h6 {
    margin-left: 0;
    padding-top:inherit !important;
    margin-top: inherit !important;
  }
}

.is-container .markdown-body h1::before {
  content: "";
  bottom: 0;
}

.is-container .markdown-body h2::before {
  content: "";
  bottom: 0;
}

.is-container .markdown-body h3::before {
  content: "";
  bottom: 0;
}

.is-container .markdown-body h4::before {
  content: "";
  bottom: 0;
}

.is-container .markdown-body h5::before {
  content: "";
  bottom: 0;
}

.is-container .markdown-body h6::before {
  content: "";
  bottom: 0;
}

.is-container .markdown-body p img {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sbtn {
  padding: 10px;
  text-align: center;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid transparent;
  color: #fff;
  overflow: hidden;
  font-size: 1rem;
  border-radius: 4px;
}

.diag-btn {
  text-decoration: none;
  display: inline-block;
  padding: .6rem 1rem;
  background-size: 250%;
  transition: all 0.4s;
  background-color: transparent;
  outline: none;
  border: none;
}

.diag-btn.more-btn {
  background-image: linear-gradient( 120deg, transparent 50%, var(--base-hl-color) 50% ) !important;
  color: var(--text-color) !important;
}

.diag-btn:hover{
  background-position: 100%;
  color: #fff !important;
  transform: translateX(16px);

  &::after {
    opacity: 1;
  }
}


.diag-btn::after {
  color: #fff;
  transition: all 0.4s;
  font-family: iconfont !important;
  content: "\e719";
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
}
