@charset "UTF-8";
body,html {
  height: 100%;
  padding:0;
  margin: 0;
}

html {
  font-size: 14px
}

@media screen and (max-width:359px) {
  html {
    font-size: 12px
  }
}

body {
  margin: 0;
  font-family: "Josefin Sans", "Noto Sans SC", -apple-system, sans-serif;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%
}

input {
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}

a {
  cursor: pointer;
  word-break: break-word;
}

.cn-pd {
  padding-left: 30px;
  padding-right: 30px;
}

.ct-container {
  max-width: 800px;
}

.ph-container {
  max-width: 1024px;
}


.pl-6 {
  padding-left: .6rem;
}

.pad-4 {
  padding:4px;
}

.pad-10{
  padding:10px;
}

.pl-1 {
  padding-left: 1px;
}

.pl-7 {
  padding-left: 7px;
}

.mr-auto {
  margin-right: auto;
}

.f-10 {
  font-size: 10px;
}

.cover-title {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
  //padding-bottom: 10px;
  position: relative;
}

.cover-title:after {
  background-color: var(--base-color);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 80px;
}

.cover-content .inner {
  margin: 0 auto;
  max-width: 80%;
}

.cover-title {
  text-align: left;
}

.bg-cover {
  -webkit-animation: fade-down .3s;
  animation: fade-down .3s;
}

.content-container {
  -webkit-animation: fade-up .3s;
  animation: fade-up .3s;
}

@media only screen and (max-width: 768px) {
  .cover-title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 860px) {
  .cover-content .inner {
    width: 100%;
  }

  .slogan {
    font-size:1.3rem !important;
    text-align: left !important;
  }
}

@media only screen and (min-width: 861px) {
  .cover-title:after {
    left: 50%;
    margin-left: -40px;
  }

  .cover-title {
    text-align: center !important;
  }

}

@media only screen and (max-width: 640px) {
  .cover-title:after{
    width: 60px;
  }
}

@keyframes fade-down {
  0% {
    transform: translateY(-20px);
    opacity: 0
  }
  100% {
    transform: translateY(0);
    opacity: 1
  }
}

@-webkit-keyframes fade-down {
  0% {
    -webkit-transform: translateY(-20px);
    opacity: 0
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1
  }
}


@keyframes fade-up {
  0% {
    transform: translateY(20px);
    opacity: 0
  }
  100% {
    transform: translateY(0);
    opacity: 1
  }
}

@-webkit-keyframes fade-up {
  0% {
    -webkit-transform: translateY(20px);
    opacity: 0
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1
  }
}




