.header-area {
  position: relative
}

.header-2 .xue-logo {
  float: left;
  padding: 0;
  padding-right: 40px;
  border-bottom: 0;
  line-height: 60px
}

.header-2 .xue-logo img {
  max-height: 50px
}

.header-2 .xue-menu .sf-menu {
  float: left
}

.header-2 .sf-menu > li {
  margin: 0 13px
}

.header-2 .sf-menu > li > a {
  line-height: 60px;
  color: #fff;
}

.header-2 .social-icons {
  float: left;
  font-size: 12px;
  line-height: 60px
}

.header-2 .social-icons a {
  padding: 6px;
  color: #999
}

.header-2 .social-icons a:hover {
  color: #fff
}

.header-2 + .feature-area .feature-title, .header-2 + .feature-area .grid-posts, .header-3 + .feature-area .feature-title, .header-3 + .feature-area .grid-posts {
  margin-top: 40px
}

.xue-logo {
  padding: 57px 0;
  border-bottom: 1px solid #e6e6e6;
  text-align: center
}

.mobile-menu-icon {
  float: left;
  display: none;
  margin-top: 7px;
  padding: 10px;
  height: 36px;
  cursor: pointer
}

.xue-mobile-menu > nav ul {
  margin: 0 auto;
  padding: 0;
  list-style: none
}

.xue-mobile-menu > nav ul.sub-menu {
  display: none
}

.xue-mobile-menu > nav ul li {
  position: relative;
  padding: 0;
  border-bottom: 1px solid #333
}

.xue-mobile-menu > nav ul li ul li {
  border-bottom: 0
}

.xue-mobile-menu > nav ul li ul li:first-child {
  border-top: 1px solid #333
}

.xue-mobile-menu > nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
  transition: all .4s ease-out
}

.xue-mobile-menu > nav ul li a:hover, .xue-mobile-menu > nav ul li.menu-open > a {
  background: rgba(255, 255, 255, .2);
  color: #fff
}

.xue-mobile-menu {
  position: fixed;
  left: -400px;
  z-index: 1000;
  overflow-y: auto;
  padding: 60px 0;
  width: 320px;
  height: 100%;
  background-color: #151515;
  -webkit-transition: left .4s ease;
  -moz-transition: left .4s ease;
  -o-transition: left .4s ease;
  transition: left .4s ease;
  -ms-transition: left .4s ease
}

.xue-mobile-menu.right-side {
  right: -400px;
  left: auto;
  -webkit-transition: right .4s ease;
  -moz-transition: right .4s ease;
  -o-transition: right .4s ease;
  transition: right .4s ease;
  -ms-transition: right .4s ease
}

.xue-mobile-menu > i {
  float: right;
  margin-top: -50px;
  margin-right: -11px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  cursor: pointer
}

.xue-menu {
  position: relative;
  float: right
}

.xue-menu.padding-right {
  padding-right: 35px
}

.header-2 .header-clone, .header-2 .searchform.on-menu input, .header-2 .xue-menu-container {
  height: 60px
}

.header-2 .xue-menu .sf-menu {
  float: left
}

.header-2 .xue-menu .sf-menu {
  float: left
}

.header-2 .sf-menu > li {
  margin: 0 13px
}

.header-2 .sf-menu > li > a {
  line-height: 60px
}

.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none
}

.sf-menu li {
  position: relative;
  display: block
}

.sf-menu ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  display: none;
  min-width: 210px;
  background: rgba(21, 21, 21, .98);
  color: #999;
  text-align: left;
  font-size: 12px
}

.sf-menu > li {
  display: inline-block;
  margin: 0 18px
}

.sf-menu > li:first-child {
  margin-left: 0
}

.sf-menu > li > a {
  display: block;
  line-height: 50px
}

.sf-menu > li > a:hover {
  color: #999
}

.sf-menu a {
  color: inherit
}

.sf-menu li.sfHover > ul, .sf-menu li:hover > ul {
  z-index: 9999;
  display: block
}

.sf-menu ul ul {
  top: -1px;
  left: 100% !important
}

.page_item > ul.children li > a, .sub-menu li > a {
  display: block;
  padding: 10px 22px;
  border-bottom: 1px solid rgba(255, 255, 255, .13);
  transition: all .4s ease-out
}

.page_item > ul.children li > a:hover, .sub-menu li > a:hover {
  background: rgba(255, 255, 255, .13);
  color: #fff
}

.page_item > ul.children li:last-child > a, .sub-menu li:last-child > a {
  border-bottom: none
}

.sf-menu > .menu-item-has-children > a {
  padding-right: 9px
}

.sf-menu > .menu-item-has-children:after, .sf-mobile-menu > .menu-item-has-children:before {
  position: absolute;
  top: 50%;
  right: -7px;
  margin-top: -6px;
  color: #999;
  content: "\e74a";
  font-size: 12px;
  font-family: iconfont !important;
  line-height: 1
}

.sf-mobile-menu > .menu-item-has-children:before {
  top: 20px;
  right: 20px;
  z-index: -1
}

.xue-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background: #151515
}

.xue-menu-container .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header-small .xue-menu-container {
  position: fixed
}

.mobile-menu-icon {
  float: left;
  display: none;
  margin-top: 7px;
  padding: 10px;
  height: 36px;
  cursor: pointer
}

.mobile-menu-icon span, .mobile-menu-icon span:after, .mobile-menu-icon span:before {
  position: relative;
  top: 4px;
  display: block;
  margin-bottom: 2px;
  width: 20px;
  height: 2px;
  background: #e3e3e3;
  content: ''
}

.mobile-menu-icon.active span::before {
  margin-bottom: -1px;
}

.mobile-menu-icon span:before, .mobile-menu-icon.active span:after, .mobile-menu-icon.activemenu-item-89 span:before {
  top: 6px;
}

.mobile-menu-icon span:after {
  top: 8px
}

.mobile-menu-icon span, .mobile-menu-icon span:after, .mobile-menu-icon span:before {
  transition: all .2s ease-in-out
}

.mobile-menu-icon.active span {
  background-color: transparent
}

.mobile-menu-icon.active span:before {
  transform: rotate(45deg)
}

.mobile-menu-icon.active span:after {
  transform: rotate(-45deg)
}

.clearfix:after, .clearfix:before {
  display: table;
  content: "";
  line-height: 0;
}

@media (max-width: 991px) {
  .xue-menu > .sf-menu {
    display: none;
  }

  .header-2 .mobile-menu-icon {
    float: right;
  }

  .mobile-menu-icon {
    display: block;
  }

  .show-mobile-menu {
    overflow: hidden;
  }

  .show-mobile-menu>.xue-mobile-menu {
    left: 0;
  }
}
