
.header {
  height: 72px;
  position: relative;
  background-color: #f3f5f6;
}

.header h1 {
  color: #9aa6af;
  text-align: left;
  font-size: 27px;
  line-height: 72px;
  font-weight: bold;
  padding-left: 20px;
}

.burger {
  position: absolute;
  float: left;
  padding: 10px;
  top: 4px;
  left: 10px;
  display: none;
}

.burger li {
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 3px;
  margin: 5px 0;
}

.burger.open li {
  background-color: #d9dde1;
}

.header-nav {
  position: absolute;
  top: 0;
  left: 50px;
}

.header-nav li {
  float: left;

  display: inline-block;
}

.header-nav li a {
  color: #9aa6af;
  padding: 22px 15px;

  display: block;
}

.header-nav li a:hover {
  color: #000;
}

@media only screen and (max-width: 780px) {

  .header {
    height: 72px;
    z-index: 2;
    background-color: #060a0c;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    /* starting point */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .header h1 {
    color: #ffffff;
    text-align: center;
    padding-left: 0;
    display: block;
  }

  .burger {
    display: block;
  }


  /*  .header-nav Drawer Layout  */
  .header-nav {
    position: relative;
  }

  .header-nav ul {
    height: 100%;
    overflow-y: auto;
    padding-left: 0;
  }

  .header-nav li {
    display: block;
    float: none;
    width: 240px;
  }

  .header-nav li a {
    padding: 16px 25px;
    letter-spacing: 3px;
  }
  .header-nav.open li a {
    padding: 22px 25px;
  }


  .header-nav li a.logo {
    display: none;
  }

  .header-nav li a.active {
    color: #fff;
    background-color: #141e23;
  }

  .header-nav li a:hover {
    color: #fff;
    background-color: #19252c;
  }

  .header-nav li:first-child a.active,
  .header-nav li:first-child a:hover {
    //border-radius: 10px 0 0 0;
  }

  .header-section {
    margin-top: 72px;
  }


  /* NAVIGATION ANNIMATION */
  .header-nav {
    width: 93%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    //background-color: #1d2d35;
    border-radius: 8px;

    /* starting point */
    opacity: .3;
    -webkit-transform: translate3d(5%, 0, 0) scale(.97);
    -moz-transform: translate3d(5%, 0, 0) scale(.97);
    transform: translate3d(5%, 0, 0) scale(.97);
  }

  /*.header-nav Expanding Open Effect*/
  .header-nav.open {
    opacity: 1;

    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -webkit-animation: slideIn .35s ease-in-out;

    -moz-transform: translate3d(0, 0, 0) scale(1);
    -moz-animation: slideIn .35s ease-in-out;

    transform: translate3d(0, 0, 0) scale(1);
    animation: slideIn .35s ease-in-out;
  }

  @-webkit-keyframes slideIn {
    0% {
      opacity: .3;
      -webkit-transform: translate3d(5%, 0, 0) scale(.97);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      opacity: .3;
      -moz-transform: translate3d(5%, 0, 0) scale(.97);
    }
    100% {
      opacity: 1;
      -moz-transform: translate3d(0, 0, 0) scale(1);
    }
  }
  @keyframes slideIn {
    0% {
      opacity: .3;
      transform: translate3d(5%, 0, 0) scale(.97);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(1);
    }
  }

  /*.header-nav Shrinking Closed Effect*/
  .header-nav.close {
    opacity: .3;

    -webkit-transform: translate3d(5%, 0, 0) scale(.97);
    -webkit-animation: slideOut .3s ease-in-out;

    -moz-transform: translate3d(5%, 0, 0) scale(.97);
    -moz-animation: slideOut .3s ease-in-out;

    transform: translate3d(5%, 0, 0) scale(.97);
    animation: slideOut .3s ease-in-out;
  }

  @-webkit-keyframes slideOut {
    0% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
    100% {
      opacity: .3;
      -webkit-transform: translate3d(5%, 0, 0) scale(.97);
    }
  }
  @-moz-keyframes slideOut {
    0% {
      opacity: 1;
      -moz-transform: translate3d(0, 0, 0) scale(1);
    }
    100% {
      opacity: .3;
      -moz-transform: translate3d(5%, 0, 0) scale(.97);
    }
  }
  @keyframes slideOut {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(1);
    }
    100% {
      opacity: .3;
      transform: translate3d(5%, 0, 0) scale(.97);
    }
  }



  /* CONTENT ANNIMATION */
  .content {
    /* starting point */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 1;
  }

  /*Content Sliding Open Effect*/
  .header.open,
  .content.open {
    -webkit-transform: translate3d(240px, 0, 0);
    -webkit-animation: open .5s ease-in-out;

    -moz-transform: translate3d(240px, 0, 0);
    -moz-animation: open .5s ease-in-out;

    transform: translate3d(240px, 0, 0);
    animation: open .5s ease-in-out;
  }

  @-webkit-keyframes open {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
    }
    70% {
      -webkit-transform: translate3d(260px, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(240px, 0, 0);
    }
  }
  @-moz-keyframes open {
    0% {
      -moz-transform: translate3d(0, 0, 0);
    }
    70% {
      -moz-transform: translate3d(260px, 0, 0);
    }
    100% {
      -moz-transform: translate3d(240px, 0, 0);
    }
  }
  @keyframes open {
    0% {
      transform: translate3d(0, 0, 0);
    }
    70% {
      transform: translate3d(260px, 0, 0);
    }
    100% {
      transform: translate3d(240px, 0, 0);
    }
  }

  /*Content Sliding Closed Effect*/
  .header.close,
  .content.close {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: close .3s ease-in-out;

    -moz-transform: translate3d(0, 0, 0);
    -moz-animation: close .3s ease-in-out;

    transform: translate3d(0, 0, 0);
    animation: close .3s ease-in-out;
  }

  @-webkit-keyframes close {
    0% {
      -webkit-transform: translate3d(240px, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
  @-moz-keyframes close {
    0% {
      -moz-transform: translate3d(240px, 0, 0);
    }
    100% {
      -moz-transform: translate3d(0, 0, 0);
    }
  }
  @keyframes close {
    0% {
      transform: translate3d(240px, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

}