.post {
  max-width: 95%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .05);
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  word-break: break-word;
  min-width: 240px;
}

.entry-media img {
  margin: 0 auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

.post .entry-media img {
  max-height: 180px;
  min-height: 180px;
  transition: all 0.5s;
}

.entry-wrapper {
  background-color: #fff;
  padding: 20px;
}

.entry-header .entry-title a {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  min-height: 45px;
}

.entry-header .entry-category-2 a {
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 2px 6px;
  color: #fff;
  line-height: 17px;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 2px;
}

.entry-header .entry-category-2 a {
  display: none;
}

.entry-header .entry-category-2 a:first-child {
  display: inline-block;
}

.entry-header .entry-title {
  margin-bottom: 0;
}

.entry-excerpt {
  margin-top: 10px;
  color: #aaa;
  min-height: 80px;
}

.entry-excerpt > :last-child, .entry-excerpt > :last-child > :last-child {
  margin-bottom: 0 !important;
}

.entry-excerpt > :first-child, .entry-excerpt > :first-child > :first-child {
  margin-top: 0 !important;
}

.entry-excerpt p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  color: #aaa;
}

.entry-action {
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #f4f4f4;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  height: 37px;
  justify-content: space-between;
  line-height: 1;
  padding: 12px 15px;
}

.entry-action>div {
  align-items: center;
  display: flex;
}

.entry-action a {
  color: #aaa;
}

.entry-action a+a {
  margin-left: 8px;
}

.entry-action .iconfont {
  vertical-align: text-bottom;
}

.entry-action .count {
  margin-left: 2px;
}


.post .card-footer .post-time {
  line-height: 25px;
}

.post.cover {
  min-height: 330px;
  background-position: center;
  background-size: cover;
  //height: calc(100% - 30px);
}

.post.cover:before {
  background: linear-gradient(to top,rgba(0,0,0,.9),transparent);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.post.cover .entry-excerpt {
  display: none;
}

.post.cover .entry-action, .post.cover .entry-media, .post.cover .entry-wrapper {
  background-color: transparent;
  position: relative;
}


.post.cover .entry-wrapper {
  z-index: 11;
  bottom: 37px;
  left: 0;
  position: absolute;
  right: 0;
}

.post.cover .entry-action a, .post.cover .entry-author .author-name, .post.cover .entry-author .entry-date, .post.cover .entry-title a {
  color: #fff;
}


.post.cover .entry-action {
  z-index: 11;
  border-color: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.u-permalink {
  bottom: 0;
  left: 0;
  outline: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}