.toc {
  position: fixed;
  //right: calc((screen.width - 1024px) / 2) !important;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  //z-index: 90;
  display: none;
  //text-align: right;
  font-size: .9rem;
}

.toc ul, .toc ol {
  padding: 0;
  margin: 0;
}

.toc > .toc-list {
  overflow: hidden;
  position: relative
}

.toc > .toc-list li {
  list-style: none
}

.toc-list {
  margin: 0;
  padding-left: 10px
}

a.toc-link {
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  max-width: 230px;
  vertical-align: middle;
  text-align: left;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  margin-top: -2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  text-decoration : none !important;
}

a.toc-link:hover {
  color: var(--toc-bg-color) !important;
}

.is-active-link {
  font-weight: 500;
}


.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out
}

.is-collapsed {
  max-height: 0
}

.is-position-fixed {
  position: fixed !important;
  top: 0
}

.toc-link::after {
  width: 0;
}

.toc-hover {
  opacity: 1 !important;
  color: var(--toc-bg-color) !important;
}

span.toc-link-dot {
  background: var(--night-toc-bg-color);
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: background .5s;
  transition: background .5s;
  pointer-events: none;
}

.node-name--H1 span {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin-bottom: 2px;
  margin-right: 6px;
}

.node-name--H2 span {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 6px 4px 2px;
}

.node-name--H3 span {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin: 0 6px 4px 3px;
}

.node-name--H4 span {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  margin: 0 6px 5px 4px;
}

.node-name--H5 span ,.node-name--H6 span  {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  margin: 0 6px 6px 5px;
}

.node-name--H3 {
  //padding-left: .5rem;
}

.node-name--H4 {
  //padding-left: .7rem;
}

.node-name--H5 {
  //padding-left: .9rem;
}

.node-name--H6 {
  //padding-left: 1.1rem;
}

.toc-link:hover {
  opacity: .7 !important;
}

.is-active-link {
  color: var(--toc-active-color);
  font-weight: 700;
}

.is-active-link span {
  background-color: var(--toc-bg-color) !important;
}

.md-content ol > li, .md-content ul > li {
  line-height: 1.625rem !important;
}

@media only screen and (max-width: 1360px) {
  .toc {
    display: none !important;
  }
}

.article-content {
  position: relative;
}

.toc-right-fixed {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


