.toc {
  position: fixed;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  display: none;
  font-size: .9rem;

  ol > li > ol > li {
    list-style-type: none !important;
  }

  ol > li > ol > li > ol > li {
    list-style-type: none !important;
  }
}

.toc ul, .toc ol {
  padding: 0;
  margin: 0;
  list-style-type: none !important;
}

.toc > .toc-list {
  overflow: hidden;
  position: relative
}

//.toc ol {
//  counter-reset: section;
//  list-style-type: none;
//}
//
//
//.toc li:before {
//  counter-increment: section;
//  content: counters(section, ".") ". ";
//
//}

.toc-list {
  margin: 0;
  padding-left: 10px
}

a.toc-link {
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  max-width: 230px;
  vertical-align: middle;
  text-align: left;
  transition: all .3s;
  margin-top: -2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  text-decoration: none !important;
  position: relative;
  
  &:after{
    width: 0;
  }
  
  &:hover:after {
    position: absolute;
    left: 0;
    content: '';
    width: 100% !important;
    height: 4px;
    opacity: .6;
    --tw-text-opacity: 1;
    background: rgba(229, 231, 235, var(--tw-bg-opacity)) !important;
    bottom: 2px !important;
  }
}

.dark a.toc-link {
  &:hover {
    --tw-bg-opacity: 1;
    background: linear-gradient(to bottom, transparent 60%, rgba(75, 85, 99, var(--tw-bg-opacity)) 0%) no-repeat !important;
  }

  &.bg-linear {
    --tw-bg-opacity: 1;
    background: linear-gradient(to bottom, transparent 60%, rgba(75, 85, 99, var(--tw-bg-opacity)) 0%) no-repeat !important;
  }
}

.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  padding-left: 1rem !important;
  transition: all 300ms ease-in-out;
}

.is-collapsed {
  max-height: 0;
  margin-left: .4rem !important;
}

.is-position-fixed {
  position: fixed !important;
  top: 0
}

.md-content ol > li, .md-content ul > li {
  line-height: 1.625rem !important;
}

@media only screen and (max-width: 1360px) {
  .toc {
    display: none !important;
  }
}

.article-content {
  position: relative;
}

.toc-right-fixed {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


