<!DOCTYPE html>
<html
  th:fragment="html (title, content)"
  lang="zh"
  class="m-0 h-full p-0 text-base sm:text-sm"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title th:text="${title}"></title>
    <th:block th:replace="~{module/styles :: styles}" />
    <script th:src="@{/assets/js/plugins/jquery.min.js}"></script>

    <script
      th:src="@{/assets/dist/main.iife.js?v={version}(version=${theme.spec.version})}"
    ></script>

    <script
      th:if="${theme.config.general.pjax_enabled} and ${pluginFinder.available('PluginCommentWidget')}"
      src="/plugins/PluginCommentWidget/assets/static/comment-widget.iife.js"
    ></script>

    <script th:inline="javascript">
      var defaultColorScheme = [[${theme.config.general.default_color_scheme}]]
    </script>
  </head>
  <body class="m-0 h-full p-0 font-sans">
    <div class="flex h-full flex-col">
      <th:block th:replace="~{module/header :: header}" />
      <div class="bg-gray-50 dark:bg-gray-900" style="flex: 1 0 auto">
        <th:block th:replace="${content}" />
      </div>
      <th:block th:replace="~{module/footer :: footer}" />
    </div>
  </body>
  <th:block th:replace="~{module/plugins :: plugins}" />
  <script th:src="@{/assets/js/utils.js?v={version}(version=${theme.spec.version})}"></script>
  <script th:src="@{/assets/js/main.js?v={version}(version=${theme.spec.version})}"></script>
  <th:block th:replace="~{module/script :: script}" />
</html>
