<th:block th:fragment="styles">
  <style>
    :root {
      --base-hover-color: #f1404b;
      --base-hl-color: #f1404b;
      --base-code-text-color: #a9b7c6;
      
      --text-color: #333333;
      /*夜晚默认*/
      --night-txt-color: #a9a9b3;
  
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0;
    }
  </style>
  <th:block th:if="${theme.config.other.xiang_ying_xiong_zhi_jing}">
    <style>
    html {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    }
    </style>
  </th:block>
  
  <link th:href="@{/assets/css/fonts.css?v={version}(version=${theme.spec.version})}" rel="stylesheet">
  <link th:href="@{/assets/css/jqcloud.min.css?v={version}(version=${theme.spec.version})}" rel="stylesheet">
  <link th:href="@{/assets/css/heti.min.css?v={version}(version=${theme.spec.version})}" rel="stylesheet">
  <link th:href="@{/assets/css/katex.min.css?v={version}(version=${theme.spec.version})}" rel="stylesheet">
  <link th:href="@{/assets/css/jquery.fancybox.min.css?v={version}(version=${theme.spec.version})}" rel="stylesheet">
  <link th:href="@{/assets/css/qmsg.css?v={version}(version=${theme.spec.version})}" rel="stylesheet">
  
  
  <link rel="stylesheet" th:href="@{/assets/dist/style.css?v={version}(version=${theme.spec.version})}">
  
  <link rel="stylesheet" th:href="@{/assets/highlight.js/styles/atom-one-dark.css}">
</th:block>