<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{module/macro :: html(title = '友情链接 - ' + ${site.title}, content = ~{::content})}"
>
  <th:block th:fragment="content">
    <main class="mx-auto" id="container">
      <header
        class="fade-down relative z-10 table h-1/2 w-full bg-gray-900 opacity-95"
      >
        <div
          th:if="${not #strings.isEmpty(theme.config.head_img.links_patternimg)}"
          class="cover-bg absolute bottom-0 left-0 right-0 top-0 opacity-30"
        >
          <img
            th:src="${theme.config.head_img.links_patternimg}"
            class="dark:filter-60 no-zoom absolute left-0 top-0 h-full w-full object-cover"
            th:alt="${theme.config.title.links_title} ? '友情链接'"
          />
        </div>
        <div
          th:unless="${#strings.isEmpty(theme.config.head_img.links_patternimg)}"
          class="placeholder-bg"
        ></div>
        <div
          class="index relative table-cell h-96 w-full justify-center align-middle"
        >
          <img
            class="no-zoom m-avatar my-4 mx-auto h-20 w-20 max-w-full rounded-full border-2 border-solid border-white bg-white object-cover ring-2 ring-white"
            th:src="${site.logo}"
            th:alt="${site.title}"
          />
          <p
            th:if="${not #strings.isEmpty(theme.config.home_setting.home_description)}"
            class="slogan text-center text-lg text-white dark:text-gray-300 md:text-xl"
            th:text="${theme.config.home_setting.home_description}"
          ></p>
        </div>
      </header>
      <div
        class="fade-up mx-auto my-16 max-w-5xl px-10 tracking-wider sm:leading-normal md:leading-relaxed"
      >
        <th:block th:each="group : ${groups}">
          <h3 class="m-4 w-full" th:text="${group.spec.displayName}"></h3>
          <div
            class="grid flex-row flex-wrap justify-items-center sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
          >
            <a
              th:each="link : ${group.links}"
              class="slide-up m-card flex w-full max-w-16 flex-col content-start justify-start rounded bg-white p-1.5 text-gray-800 shadow-md dark:bg-gray-800 dark:text-gray-300"
              target="_blank"
              th:href="${link.spec.url}"
            >
              <div class="flex self-center">
                <img
                  class="lazyload dark:filter-60 no-zoom m-avatar h-20 w-20 max-w-full rounded-full border-2 border-solid border-white bg-white object-cover"
                  th:attr="data-src=${link.spec.logo}"
                  th:src="@{/assets/images/loading.gif}"
                />
              </div>
              <div
                class="my-1.5 mx-3.5 flex flex-col bg-white text-center dark:bg-gray-800"
              >
                <p
                  class="pt-3 pb-1.5 font-semibold text-gray-800 dark:text-gray-300"
                  th:text="${link.spec.displayName}"
                ></p>
                <div
                  class="flex items-center break-all bg-white py-1.5 dark:bg-gray-800"
                >
                  <p
                    class="m-0 inline-block w-full overflow-hidden overflow-ellipsis whitespace-nowrap break-words text-center text-gray-600 dark:text-gray-500"
                    th:title="${link.spec.description}"
                    th:text="${link.spec.description}"
                  ></p>
                </div>
              </div>
            </a>
          </div>
        </th:block>
      </div>
    </main>
  </th:block>
</html>
