<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="module/macro :: html(~{::content})"
>
  <th:block th:fragment="content">
    <main class="mx-auto" id="container">
      <header
        class="bg-gray-900 table fade-down relative w-full opacity-95 z-10 h-1/2"
      >
        <div
          th:if="${not #strings.isEmpty(singlePage.spec.cover)}"
          class="cover-bg bottom-0 left-0 right-0 top-0 opacity-30 absolute"
        >
          <img
            th:src="${singlePage.spec.cover}"
            class="h-full w-full left-0 object-cover absolute top-0 dark:filter-60 no-zoom"
            th:alt="${singlePage.spec.title}"
          />
        </div>
        <div
          th:unless="${#strings.isEmpty(singlePage.spec.cover)}"
          class="placeholder-bg"
        ></div>
        <div
          class="h-96 align-middle table-cell relative w-full index justify-center"
        >
          <h2
            class="text-white mb-5 mt-4 leading-loose relative w-full text-4xl text-center dark:text-gray-300"
            th:text="${singlePage.spec.title}"
          ></h2>
        </div>
      </header>
      <div
        class="px-10 mx-auto md-content text-gray-800 dark:text-gray-300 mt-16 max-w-5xl tracking-wider md:leading-relaxed sm:leading-normal fade-up"
        id="lightGallery"
        th:utext="${singlePage.content.content}"
      ></div>

      <div
        class="px-10 mx-auto md-content text-gray-800 dark:text-gray-300 mt-16 max-w-5xl tracking-wider md:leading-relaxed sm:leading-normal"
      >
        <!-- <#if !sheet.disallowComment!false>
        <#include "module/comment.ftl">
        <@comment sheet,"sheet" />
      </#if> -->
      </div>
    </main>
  </th:block>
</html>
