<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{module/macro :: html(title = ${post.spec.title} + ' - ' + ${site.title}, content = ~{::content})}"
>
  <th:block th:fragment="content">
    <main class="mx-auto" id="container">
      <header
        class="fade-down relative z-10 table h-1/2 w-full bg-gray-900 opacity-95"
        id="postHeader"
      >
        <div
          th:if="${not #strings.isEmpty(post.spec.cover)}"
          class="cover-bg absolute bottom-0 left-0 right-0 top-0 opacity-30"
        >
          <img
            th:src="${post.spec.cover}"
            class="dark:filter-60 no-zoom absolute left-0 top-0 h-full w-full object-cover"
            th:alt="${post.spec.title}"
          />
        </div>
        <div
          th:if="${#strings.isEmpty(post.spec.cover)} and ${theme.config.general.enabled_card_random_cover_list}"
          class="cover-bg absolute bottom-0 left-0 right-0 top-0 opacity-30"
        >
          <img
            th:src="@{/assets/images/loading.gif}"
            class="img-random dark:filter-60 no-zoom absolute left-0 top-0 h-full w-full object-cover"
            th:alt="${post.spec.title}"
          />
        </div>
        <div
          th:if="${#strings.isEmpty(post.spec.cover)} and ${not theme.config.general.enabled_card_random_cover_list}"
          class="placeholder-bg"
        ></div>
        <div
          class="index relative table-cell h-96 w-full justify-center align-middle"
        >
          <h2
            th:text="${post.spec.title}"
            class="relative mb-5 mt-4 w-full text-center text-2xl leading-loose text-white dark:text-gray-300 md:text-4xl"
          ></h2>
          <!-- 封面内容 -->
          <div class="text-white">
            <div class="text-center">
              <span class="iconfont icon-people"></span>
              <th:block th:text="${post.owner.displayName}" />
              <span class="iconfont icon-see2 ml-3"></span>
              <th:block th:text="${post.stats.visit}"></th:block>
              <span class="iconfont icon-time ml-3"></span>
              <th:block
                th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"
              />
            </div>
          </div>
        </div>
      </header>
      <div class="article-content fade-up">
        <div
          class="md-content heti mx-auto mt-8 max-w-4xl rounded-md bg-white px-10 py-10 tracking-wider text-gray-800 dark:bg-gray-800 dark:text-gray-300 sm:leading-normal md:leading-relaxed"
          id="lightGallery"
        >
          <th:block th:utext="${post.content.content}" />
          <hr class="bg-gray-100 dark:bg-gray-700" />
          <div class="flex flex-row flex-wrap justify-between">
            <div class="tag-list leading-9">
              <a
                th:each="tag : ${post.tags}"
                th:href="@{${tag.status.permalink}}"
                th:title="${tag.spec.displayName}"
                class="badge post-tag relative mr-1 mb-2 inline-block shadow-none"
                style="box-shadow: none !important"
              >
                <i
                  class="absolute top-0 left-0 h-full w-full bg-red-400 opacity-10 hover:opacity-20"
                  th:style="'background-color:'+${tag.spec.color} ? 'rgba(248,113,113,1)'"
                ></i>

                <span
                  class="badge-outline h-5 cursor-pointer rounded-sm px-2 py-0.5 text-red-400"
                  style="font-size: 1rem; font-weight: 400"
                  th:styleappend="'color:'+${tag.spec.color} ? 'rgba(248,113,113,1)'"
                  th:attr="data-value=${tag.spec.displayName}"
                >
                  <th:block th:text="${tag.spec.displayName}" />
                </span>
              </a>
            </div>
            <div th:if="${theme.config.post.allow_share}" class="share-items">
              <a
                class="share-link share-item"
                href="javascript:void(0);"
                th:attr="data-clipboard-text=${post.status.permalink}"
                rel="noopener noreferrer"
                title="复制文章链接"
              >
                <span class="iconfont icon-round_link_fill text-3xl"></span>
              </a>
              <a
                class="share-item"
                th:href="@{http://service.weibo.com/share/share.php?sharesource=weibo&title=分享：{title}，原文链接：{url}&pic={pic}(title=${post.spec.title},url=${post.status.permalink},pic=${post.spec.cover})}"
                target="_blank"
                rel="noopener noreferrer"
                title="分享到新浪微博"
              >
                <span
                  class="iconfont icon-xinlang text-3xl"
                  style="color: rgb(245, 100, 103)"
                ></span>
              </a>
              <a
                class="share-item"
                th:href="@{https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={url}&sharesource=qzone&title={title}&pics=${pics}(url=${post.status.permalink},title=${post.spec.title},pics=${post.spec.cover})}"
                target="_blank"
                rel="noopener noreferrer"
                title="分享到QQ空间"
              >
                <span
                  class="iconfont icon-Qzone text-3xl"
                  style="color: rgb(245, 190, 63)"
                ></span>
              </a>
              <a
                class="share-item"
                th:href="@{https://connect.qq.com/widget/shareqq/index.html?url={url}&title={title}&pics={pics}(url=${post.status.permalink},title=${post.spec.title},pics=${post.spec.cover})}"
                target="_blank"
                rel="noopener noreferrer"
                title="分享到QQ"
              >
                <span
                  class="iconfont icon-QQ text-3xl"
                  style="color: rgb(104, 165, 225)"
                ></span>
              </a>
            </div>
          </div>
        </div>
        <div id="tocFlag"></div>
        <aside
          th:if="${theme.config.post.post_toc}"
          id="toc"
          class="toc"
        ></aside>
      </div>

      <div
        class="md-content mx-auto mt-8 max-w-4xl text-center tracking-wider sm:leading-normal md:leading-relaxed"
      >
        <th:block th:replace="~{module/widget/sponsor :: sponsor}" />
        <div class="my-4 inline-block text-center">
          <span
            role="button"
            class="iconfont icon-heart like-btn relative z-10 inline-block h-full w-28 cursor-pointer rounded-full bg-red-600 py-3 text-white hover:bg-red-500"
            th:attr="data-count=${post.stats.upvote},data-group=content.halo.run,data-plural=posts,data-name=${post.metadata.name}"
          >
          </span>
        </div>
        <hr class="bg-gray-100 dark:bg-gray-700" />
      </div>

      <!-- 上一篇和下一篇 -->
      <div
        th:if="${theme.config.post.post_nepre}"
        class="mx-4 mt-8 max-w-4xl tracking-wider sm:leading-normal md:mx-auto md:leading-relaxed"
      >
        <th:block th:replace="~{module/widget/prev_next_page}" />
      </div>

      <div
        class="md-content mx-4 mt-8 max-w-4xl tracking-wider sm:leading-normal md:mx-auto md:leading-relaxed"
      >
        <section class="comments-area" data-not-pjax>
          <div class="inner">
            <halo:comment
              group="content.halo.run"
              kind="Post"
              th:attr="name=${post.metadata.name}"
              colorScheme="localStorage.getItem('theme') || 'dark'"
            />
          </div>
        </section>
      </div>
    </main>
  </th:block>
</html>
