<div
  th:fragment="post_cards"
  class="posts xs:grid-cols-1 pagination-container mt-4 grid sm:grid-cols-2 sm:gap-3 md:grid-cols-2 md:gap-4 lg:grid-cols-3 lg:gap-6"
  id="pageContainer"
>
  <div
    th:each="post,iterStat : ${postItems}"
    class="slide-up bg-base-100 relative mt-4 flex w-full flex-col overflow-hidden rounded-lg shadow-xl"
  >
    <div
      th:if="${post.spec.pinned}"
      class="post-top absolute h-24 w-24 overflow-hidden"
    >
      <div
        class="relative top-3 -left-8 w-28 -rotate-45 transform bg-red-600 py-1 px-0 text-center text-gray-100 shadow-lg"
      >
        置顶
      </div>
    </div>
    <figure class="flex h-56 cursor-pointer items-center justify-center">
      <a th:href="@{${post.status.permalink}}" class="w-full">
        <img
          th:if="${not #strings.isEmpty(post.spec.cover)}"
          class="lazyload no-zoom h-56 w-full object-cover"
          th:src="@{/assets/images/loading.gif}"
          th:attr="data-src=${post.spec.cover}"
          th:alt="${post.spec.title}"
        />
        <img
          th:if="${#strings.isEmpty(post.spec.cover)} and ${theme.config.general.enabled_card_random_cover_list}"
          class="img-random no-zoom h-56 w-full object-cover"
          th:attr="index=${iterStat.index}"
          th:src="@{/assets/images/loading.gif}"
          th:alt="${post.spec.title}"
        />
        <span
          th:unless="${not #strings.isEmpty(post.spec.cover)} or ${theme.config.general.enabled_card_random_cover_list}"
          class="full-image placeholder-bg h-56 w-full"
          role="img"
          aria-label=""
        ></span>
      </a>
    </figure>
    <div
      class="flex flex-col gap-2 bg-white px-4 py-6 dark:bg-gray-800"
      style="flex: 1 1 auto"
    >
      <div
        th:if="${theme.config.home_setting.post_card_tag}"
        class="h-5 overflow-hidden text-sm"
      >
        <th:block th:if="${not #lists.isEmpty(post.tags)}">
          <a
            th:each="tag : ${post.tags}"
            th:href="@{${tag.status.permalink}}"
            th:title="${tag.spec.displayName}"
            class="badge relative inline-block"
          >
            <i
              class="absolute top-0 left-0 h-full w-full bg-red-400 opacity-10"
              th:style="'background-color:'+${tag.spec.color} ? 'rgba(248,113,113,1)'"
            ></i>
            <span
              class="badge-outline h-5 cursor-pointer rounded-sm px-2 py-0.5 text-red-400"
              th:style="'color:'+${tag.spec.color} ? 'rgba(248,113,113,1)'"
              th:attr="data-value=${tag.spec.displayName}"
              th:text="${tag.spec.displayName}"
            >
            </span>
          </a>
        </th:block>
      </div>
      <h2
        class="my-4 mt-3 flex items-center gap-2 text-xl leading-7"
        th:classappend="${theme.config.home_setting.post_card_tag}?'mb-2'"
      >
        <a
          th:href="@{${post.status.permalink}}"
          class="text-gray-800 dark:text-gray-300"
          th:text="${post.spec.title}"
        ></a>
      </h2>
      <div
        th:if="${theme.config.home_setting.post_card_meta_info}"
        class="grad grid-cols-2 text-sm"
      >
        <div class="inline-block text-gray-500">
          <span
            th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"
          ></span>
        </div>
        <div class="float-right inline-block">
          <span class="iconfont icon-see2 text-gray-500">
            <label th:text="${post.stats.visit}"></label>
          </span>
          <span class="iconfont icon-uqur text-gray-500">
            <label th:text="${post.stats.comment}"></label>
          </span>
          <span class="iconfont icon-like text-gray-500">
            <label th:text="${post.stats.upvote}"></label>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
