<div
  th:fragment="post_list"
  class="posts pagination-container"
  id="pageContainer"
>
  <ul class="posts-list pl-0">
    <li
      th:each="post,iterStat : ${postItems}"
      class="post slide-up relative my-4 flex w-full list-none rounded-lg bg-white p-4 py-3 text-gray-200 hover:shadow dark:bg-gray-800 md:py-5"
    >
      <div
        class="dark:filter-60 relative float-left inline-block h-16 w-28 flex-shrink-0 overflow-hidden bg-gray-100 md:h-36 md:w-56"
      >
        <a
          th:if="${not #strings.isEmpty(post.spec.cover)}"
          th:href="@{${post.status.permalink}}"
        >
          <img
            class="lazyload dark:filter-60 no-zoom h-full w-full transform object-cover transition-transform duration-700 hover:scale-110"
            th:src="@{/assets/images/loading.gif}"
            th:attr="data-src=${post.spec.cover}"
            alt="${post.title}"
          />
        </a>
        <a
          th:if="${#strings.isEmpty(post.spec.cover)} and ${theme.config.general.enabled_card_random_cover_list}"
          th:href="@{${post.status.permalink}}"
        >
          <img
            class="img-random no-zoom h-full w-full transform object-cover transition-transform duration-700 hover:scale-110"
            th:src="@{/assets/images/loading.gif}"
            data-src=""
            th:attr="index=${iterStat.index}"
            th:alt="${post.spec.title}"
          />
        </a>
        <div
          th:unless="${not #strings.isEmpty(post.spec.cover)} or ${theme.config.general.enabled_card_random_cover_list}"
          class="post-date flex h-full w-full flex-col items-center justify-center pt-8 text-center text-6xl font-bold uppercase text-gray-800 md:pt-5"
        >
          <th:block th:text="${#dates.format(post.spec.publishTime,'dd')}" />
          <span
            class="mt-3 block text-base font-medium uppercase"
            th:text="${#dates.format(post.spec.publishTime,'yyyy 年 MM 月')}"
          ></span>
        </div>
      </div>
      <div
        class="flex-left flex h-16 w-full flex-col justify-between pl-4 md:h-36 md:pl-4"
      >
        <a
          th:href="@{${post.status.permalink}}"
          rel="bookmark"
          class="flex-none text-gray-800 hover:text-red-600 dark:text-gray-300"
        >
          <h2
            class="relative z-50 mb-0 mt-0 inline-block text-base hover:text-red-500 dark:text-gray-300 md:text-2xl"
          >
            <i
              th:if="${post.spec.pinned}"
              class="iconfont icon-pin-fill text-sm text-gray-400 md:text-base"
            ></i>
            <th:block th:text="${post.spec.title}" />
          </h2>
        </a>
        <p
          class="m-0 hidden overflow-hidden overflow-ellipsis break-all text-justify text-sm font-normal leading-normal text-gray-400 md:block md:text-base md:line-clamp-2"
          th:text="${post.status.excerpt}"
        ></p>
        <div class="post-meta mr-auto flex w-full items-center">
          <th:block th:if="${not #lists.isEmpty(post.categories)}">
            <a
              th:each="category,categoryStat : ${post.categories}"
              class="mr-1 hidden text-sm text-gray-500 hover:text-red-600 md:inline-block"
              th:href="@{${category.status.permalink}}"
            >
              <th:block th:if="${categoryStat.index != 0}"> · </th:block>
              <span class="iconfont icon-tag2"></span>
              <span th:text="${category.spec.displayName}"></span>
            </a>
          </th:block>
          <span
            class="iconfont icon-comment mr-1 inline-block text-xs text-gray-500 md:hidden"
          ></span>
          <span
            class="mr-1 inline-block text-xs text-gray-500 md:hidden"
            th:text="${post.stats.comment}"
          >
          </span>
          <span
            class="iconfont icon-round_like_fill mr-1 inline-block text-xs text-gray-500 md:hidden"
          ></span>
          <span
            class="mr-1 inline-block text-xs text-gray-500 md:hidden"
            th:text="${post.stats.upvote}"
          >
          </span>
          <span
            class="text ml-auto hidden text-sm uppercase tracking-wide text-gray-500 md:inline-block"
            th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd HH:mm')}"
          ></span>
          <span
            class="text ml-auto inline-block text-xs uppercase tracking-wide text-gray-500 md:hidden"
            th:text="${#dates.format(post.spec.publishTime,'yyyy-MM')}"
          ></span>
        </div>
      </div>
    </li>
  </ul>
</div>
