<section
  th:unless="${#strings.isEmpty(theme.config.post.QR_code_zfb)} and ${#strings.isEmpty(theme.config.post.QR_code_wx)}"
  th:fragment="sponsor"
  class="donate my-4 mx-auto inline-block w-56 text-center"
>
  <div
    class="icon relative z-20 inline-block rounded-full border border-gray-100 bg-white py-3 px-6 dark:border-gray-700 dark:bg-gray-800"
  >
    <a
      th:unless="${#strings.isEmpty(theme.config.post.QR_code_zfb)}"
      href="javascript:;"
      id="alipay"
      class="text-xl"
      style="text-decoration: none !important; box-shadow: none !important"
    >
      <i
        class="iconfont icon-yooxi border-r border-gray-600 pr-3 text-xl hover:text-red-500 dark:border-gray-700 dark:text-gray-300"
      ></i
    ></a>
    <a
      th:unless="${#strings.isEmpty(theme.config.post.QR_code_wx)}"
      href="javascript:;"
      id="wechat"
      class="pl-3"
      style="text-decoration: none !important; box-shadow: none !important"
    >
      <i
        class="iconfont icon-wechat text-xl hover:text-red-500 dark:text-gray-300"
      ></i
    ></a>
  </div>
  <div
    th:unless="${#strings.isEmpty(theme.config.post.QR_code_zfb)}"
    class="qrcode qrcode-alipay z-50 my-4 mx-auto hidden h-56 w-56 p-4"
  >
    <img
      class="fade-down dark:filter-60 max-h-200"
      th:src="${theme.config.post.QR_code_zfb}"
    />
  </div>
  <div
    th:unless="${#strings.isEmpty(theme.config.post.QR_code_wx)}"
    class="qrcode qrcode-wechat z-50 my-4 mx-auto hidden h-56 w-56 p-4"
  >
    <img
      class="fade-down dark:filter-60 max-h-200"
      th:src="${theme.config.post.QR_code_wx}"
    />
  </div>
</section>
